<div class="carousel-container">
  <ngb-carousel #carousel interval="10000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
        <div class="picsum-img-wrapper">
          <img class="full-height" [src]="img" alt="My image {{i + 1}} description">
        </div>
    </ng-template>
  </ngb-carousel>
  <div class="carousel-shadow">
    <div class="container height-full">
      <div class="row justify-content-end align-items-center height-full">
        <div class="col-sm-12 col-md-9 col-lg-6 text-white">
          <h3>Proiectarea interfeţelor utilizator</h3>
        </div>
      </div>
    </div>
  </div>
</div>
