.carousel-container {
  position: relative;
  //.picsum-img-wrapper {
  //  img {
  //
  //  }
  //}
  .carousel-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
  }
  .carousel-caption {
    bottom: 90px;
  }
  ::ng-deep{
    .carousel-indicators {
      //bottom: 45px;
    }

    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }
  }
  .height-full {
    height: 100%;
  }
}



