<nav class="navbar ">
  <button
    class="navbar-toggler"
    type="button"
    (click)="toggleNavbar()"
    [ngClass]="{ 'open': navbarOpen }"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <div class="icon-navbar"></div>
    <div class="menu-link text-white">
      Menu
    </div>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="" (click)="toggleNavbar()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Acasă <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" (click)="toggleNavbar()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Informații</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="technologies" (click)="toggleNavbar()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Tehnologii folosite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" (click)="toggleNavbar()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact și referințe</a>
      </li>
    </ul>
  </div>
</nav>


<a class="navbar-brand" routerLink="">
  <div class="brand-name text-white">Bogdana Monica<br/>Zadic</div>
</a>

  <div
    [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
