<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Mobile-First">
    <ng-template ngbPanelContent>
      Abordarea mobil-first este exact așa cum sună: dezvoltarea pentru cel mai mic ecran și crearea
      drumului pană la cel mai mare.
      Este una dintre cele mai bune strategii pentru a crea un design responsive sau adaptiv.<br/>
      Este un aspect al îmbunătățirii progresive. Ideologia că proiectarea mobilă, cea mai grea, să
      fie făcută mai întâi.
      Odată ce se poate răspunde la toate întrebările de mobile design, proiectarea pentru alte
      dispozitive va fi mai ușoară.
      Aplicația mobile va avea doar caracteristicile esențiale, de aceea designul inca de la inceput
      trebuie sa fie extraordinar.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Optimizarea brandigului">
    <ng-template ngbPanelContent>
      Ce este un brand? Un brand conectează elemente verbale și vizuale pentru a crea recunoaștere,
      a ajunge la un public țintit și a construi o experiență.<br/>
      Atunci ce este optimizarea brandingului? Este o brand îngustă, poziționată cu atenție, creată
      pentru a se conecta cu anumite categorii
      de public, care caută ceea ce oferiți.<br/>
      O brand optimizat prezintă mesaje cheie și imagini vii în momentul precis și în care ținta
      dumneavoastra alege să răspundă/să întrebe,
      să vă refere, să folosească sau să cumpere folosind produsul dumneavoastra - punctul critic al
      alegerii.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Minimalist - mai putin este mai bine">
    <ng-template ngbPanelContent>
      Sinonim cu simplitatea, minimalismul îndepărtează dezordinea care distrage vizitatorii și îi
      menține concentrați pe pașii pe care doriți să îi facă în continuare<br/>
      Sfaturi despre designul minimalismului:<br/>
      <ul>
        <li><b>Folosiți mai puține elemente.</b> Un design bun permite utilizatorilor să digere
          informațiile într-un timp cât mai scurt posibil. Cu cât sunt mai puține elemente de
          proiectare a interfeței, cu atât mai bine.
        </li>
        <li><b>Folosiți mai puține fonturi.</b> Un stil minim trebuie să prezinte o tipografie
          curată și
          lizibilă. Dezvoltați o paletă de fonturi cu una sau două familii de tip.
        </li>
        <li><b>Simplificați culoarea palatului.</b> Alături de alb-negru (sau alte neutrale), alege
          o
          culoare pentru a conduce designul. Poate fi luminos sau ușor și poate servi ca orice, de
          la o textură de fundal la accent.
        </li>
        <li><b>Facilități navigarea.</b> Un site web bine conceput oferă conținutul esențial necesar
          și
          facilitează navigarea, contribuind la experiența pozitivă a utilizatorului și la conversii
          mai mari de pagini.
        </li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Psihologia culorilor in optimizarea aplicaților web">
    <ng-template ngbPanelContent>
      Culoarea este dovedită a fi un determinant semnificativ atât pentru încrederea site-ului, cât
      și pentru satisfacția site-ului. Culoarea are potențialul de a comunica semnificația
      utilizatorului și de a influența percepția vizitatorilor prin efectul primar.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Tipografia aplicatiei">
    <ng-template ngbPanelContent>
      Cercetările arată că peste 95% din informațiile de pe o pagină web sunt text. În ceea
      ce privește influența asupra utilizatorilor, textul este al doilea după potrivirea
      culorilor web și a imaginilor.<br/>
      Fonturile selectate cu atenție pot transmite emoțiile de care aveți nevoie să construiți o
      ierarhie vizuală puternică si un branding the succes.
    </ng-template>
  </ngb-panel>
</ngb-accordion>
